#products-intro{
    width: 100%;
    height: 100vh;
}

#products-intro-content{
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    padding: 5vh 5vh;
}

#products-intro-content .products-intro-heading {
    padding: 1vh 2vh;
    font-weight: 700;
}

#products-intro-content .products-intro-heading h3{
    font-weight: 700;
    font-size: 40px;
}

#products-intro-content .products-intro-tagline {
    padding: 1vh 2vh;
    font-weight: 600;
}

#products-intro-content .products-intro-tagline h1{
    font-weight: 600;
    font-size: 72px;
}

#products-intro-content .products-intro-descp {
    padding: 1vh 2vh;
    font-size: 32px;
}

#products-intro-content .products-intro-imgs{
    display: flex;
    padding: 4vh 2vh 2vh 2vh;
    justify-content: space-evenly;
    align-items: center;
}

#products-intro-content .products-intro-imgs img{
    width: 500px;
}

#products-intro-content #products-intro-img-mid{
    width: 600px;
}

#products-intro-content .products-intro-outro {
    text-align: center;
    margin: 2vh 0;
}

#products-intro-content .products-intro-outro h3{
    font-weight: 700;
    font-size: 40px;
}

#products-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#products-page #products-page-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 10vh;
}

#products-page #products-page-top-content .products-page-top-title{
    text-align: center;
    padding: 5vh 5vh;
}

#products-page #products-page-top-content .products-page-top-title h1{
    font-weight: 600;
    font-size: 64px;
}

#products-page #products-page-top-content .products-page-top-img img{
    width: 600px;
}

#products-page #products-page-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 10vh;
}

#products-page #products-page-bottom-content img{
    width: 600px;
}

#products-page #products-page-bottom-content .products-page-bottom-title{
    text-align: center;
    padding: 5vh 5vh;
}

#products-page #products-page-bottom-content .products-page-bottom-title h1{
    font-weight: 600;
    font-size: 64px;
}

@media (max-width: 1490px){
    #products-intro{
        width: 100%;
        height: 100%;
    }
    
    #products-intro-content{
        display: flex;
        flex-direction: column;
        margin: 5vh 0 0 0;
        padding: 5vh 5vh;
    }
    
    #products-intro-content .products-intro-heading {
        padding: 1vh 2vh;
        font-weight: 700;
    }
    
    #products-intro-content .products-intro-heading h3{
        font-weight: 700;
        font-size: 30px;
    }
    
    #products-intro-content .products-intro-tagline {
        padding: 1vh 2vh;
        font-weight: 600;
    }
    
    #products-intro-content .products-intro-tagline h1{
        font-weight: 600;
        font-size: 48px;
    }
    
    #products-intro-content .products-intro-descp {
        padding: 1vh 2vh;
        font-size: 24px;
    }
    
    #products-intro-content .products-intro-imgs{
        display: flex;
        padding: 4vh 2vh 2vh 2vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #products-intro-content .products-intro-imgs img{
        width: 300px;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 400px;
    }
    
    #products-intro-content .products-intro-outro {
        text-align: center;
        margin: 2vh 0;
    }
    
    #products-intro-content .products-intro-outro h3{
        font-weight: 700;
        font-size: 30px;
    }
    
    #products-page{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 10vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 48px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 400px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 10vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 48px;
    }

    #products-page #products-page-bottom-content img{
        width: 400px;
    }
}

@media (max-width: 1284px){
    #products-intro{
        width: 100%;
        height: 100%;
    }
    
    #products-intro-content{
        display: flex;
        flex-direction: column;
        margin: 5vh 0 0 0;
        padding: 5vh 5vh;
    }
    
    #products-intro-content .products-intro-heading {
        padding: 1vh 2vh;
        font-weight: 700;
    }
    
    #products-intro-content .products-intro-heading h3{
        font-weight: 700;
        font-size: 24px;
    }
    
    #products-intro-content .products-intro-tagline {
        padding: 1vh 2vh;
        font-weight: 600;
    }
    
    #products-intro-content .products-intro-tagline h1{
        font-weight: 600;
        font-size: 36px;
    }
    
    #products-intro-content .products-intro-descp {
        padding: 1vh 2vh;
        font-size: 20px;
    }
    
    #products-intro-content .products-intro-imgs{
        display: flex;
        padding: 4vh 2vh 2vh 2vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #products-intro-content .products-intro-imgs img{
        width: 300px;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 400px;
    }
    
    #products-intro-content .products-intro-outro {
        text-align: center;
        margin: 2vh 0;
    }
    
    #products-intro-content .products-intro-outro h3{
        font-weight: 700;
        font-size: 30px;
    }
    
    #products-page{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 10vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 36px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 400px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 10vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 32px;
    }

    #products-page #products-page-bottom-content img{
        width: 400px;
    }
}

@media (max-width: 1136px){
    #products-intro{
        width: 100%;
        height: 100%;
    }
    
    #products-intro-content{
        display: flex;
        flex-direction: column;
        margin: 5vh 0 0 0;
        padding: 5vh 5vh;
    }
    
    #products-intro-content .products-intro-heading {
        padding: 1vh 2vh;
        font-weight: 700;
    }
    
    #products-intro-content .products-intro-heading h3{
        font-weight: 700;
        font-size: 24px;
    }
    
    #products-intro-content .products-intro-tagline {
        padding: 1vh 2vh;
        font-weight: 600;
    }
    
    #products-intro-content .products-intro-tagline h1{
        font-weight: 600;
        font-size: 36px;
    }
    
    #products-intro-content .products-intro-descp {
        padding: 1vh 2vh;
        font-size: 18px;
    }
    
    #products-intro-content .products-intro-imgs{
        display: flex;
        padding: 4vh 2vh 2vh 2vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #products-intro-content .products-intro-imgs img{
        width: 250px;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 300px;
    }
    
    #products-intro-content .products-intro-outro {
        text-align: center;
        margin: 2vh 0;
    }
    
    #products-intro-content .products-intro-outro h3{
        font-weight: 700;
        font-size: 30px;
    }
    
    #products-page{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 10vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 36px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 400px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 10vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 32px;
    }

    #products-page #products-page-bottom-content img{
        width: 400px;
    }
}

@media (max-width: 991px){
    #products-intro{
        width: 100%;
        height: 100%;
    }
    
    #products-intro-content{
        display: flex;
        flex-direction: column;
        margin: 5vh 0 0 0;
        padding: 5vh 5vh;
    }
    
    #products-intro-content .products-intro-heading {
        padding: 1vh 2vh;
        font-weight: 700;
    }
    
    #products-intro-content .products-intro-heading h3{
        font-weight: 700;
        font-size: 20px;
    }
    
    #products-intro-content .products-intro-tagline {
        padding: 1vh 2vh;
        font-weight: 600;
    }
    
    #products-intro-content .products-intro-tagline h1{
        font-weight: 600;
        font-size: 32px;
    }
    
    #products-intro-content .products-intro-descp {
        padding: 1vh 2vh;
        font-size: 16px;
    }
    
    #products-intro-content .products-intro-imgs{
        display: flex;
        padding: 4vh 2vh 2vh 2vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #products-intro-content .products-intro-imgs img{
        width: 200px;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 250px;
    }
    
    #products-intro-content .products-intro-outro {
        text-align: center;
        margin: 2vh 0;
    }
    
    #products-intro-content .products-intro-outro h3{
        font-weight: 700;
        font-size: 24px;
    }
    
    #products-page{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 8vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 28px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 300px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10vh 6vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 24px;
    }

    #products-page #products-page-bottom-content img{
        width: 300px;
    }
}

@media (max-width: 810px){
    #products-intro-content .products-intro-imgs img{
        width: 180px;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 220px;
    }

    #products-page{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 22px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 200px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 22px;
    }

    #products-page #products-page-bottom-content img{
        width: 200px;
    }
}

@media (max-width: 640px){
    #products-intro{
        width: 100%;
        height: 100%;
    }
    
    #products-intro-content{
        display: flex;
        flex-direction: column;
        margin: 5vh 0 0 0;
        padding: 5vh 5vh;
    }
    
    #products-intro-content .products-intro-heading {
        padding: 1vh 2vh;
        font-weight: 700;
    }
    
    #products-intro-content .products-intro-heading h3{
        font-weight: 700;
        font-size: 20px;
    }
    
    #products-intro-content .products-intro-tagline {
        padding: 1vh 2vh;
        font-weight: 600;
    }
    
    #products-intro-content .products-intro-tagline h1{
        font-weight: 600;
        font-size: 32px;
    }
    
    #products-intro-content .products-intro-descp {
        padding: 1vh 2vh;
        font-size: 16px;
    }
    
    #products-intro-content .products-intro-imgs{
        display: flex;
        padding: 4vh 2vh 2vh 2vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #products-intro-content .products-intro-imgs img{
        width: 0;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 400px;
    }
    
    #products-intro-content .products-intro-outro {
        text-align: center;
        margin: 2vh 0;
    }
    
    #products-intro-content .products-intro-outro h3{
        font-weight: 700;
        font-size: 24px;
    }
    
    #products-page{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vh 2vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 2vh 2vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 20px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 200px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 0;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 20px;
    }

    #products-page #products-page-bottom-content img{
        width: 200px;
    }
}

@media (max-width: 500px){
    #products-intro{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
    #products-intro-content{
        display: flex;
        flex-direction: column;
        margin: 5vh 0 0 0;
        padding: 5vh 5vh;
    }
    
    #products-intro-content .products-intro-heading {
        padding: 1vh 2vh;
        font-weight: 700;
    }
    
    #products-intro-content .products-intro-heading h3{
        font-weight: 700;
        font-size: 18px;
    }
    
    #products-intro-content .products-intro-tagline {
        padding: 1vh 2vh;
        font-weight: 600;
    }
    
    #products-intro-content .products-intro-tagline h1{
        font-weight: 600;
        font-size: 24px;
    }
    
    #products-intro-content .products-intro-descp {
        padding: 1vh 2vh;
        font-size: 14px;
    }
    
    #products-intro-content .products-intro-imgs{
        display: flex;
        padding: 4vh 2vh 2vh 2vh;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #products-intro-content .products-intro-imgs img{
        width: 0;
    }
    
    #products-intro-content #products-intro-img-mid{
        width: 250px;
    }
    
    #products-intro-content .products-intro-outro {
        text-align: center;
        margin: 2vh 0;
    }
    
    #products-intro-content .products-intro-outro h3{
        font-weight: 700;
        font-size: 24px;
    }
    
    #products-page{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    #products-page #products-page-top-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    #products-page #products-page-top-content .products-page-top-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-top-content .products-page-top-title h1{
        font-weight: 600;
        font-size: 28px;
    }

    #products-page #products-page-top-content .products-page-top-img img{
        width: 250px;
    }
    
    #products-page #products-page-bottom-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #products-page #products-page-bottom-content img{
        width: 250px;
    }    
    
    #products-page #products-page-bottom-content .products-page-bottom-title{
        text-align: center;
        padding: 5vh 5vh;
    }
    
    #products-page #products-page-bottom-content .products-page-bottom-title h1{
        font-weight: 600;
        font-size: 24px;
    }
}