.nav-parent{
    display: flex;
    justify-content: space-around;
    height: 12vh;
    background-color: #6D79EB;
}

.logo-img{
    height: 100px;
    width: 200px;
}

.sidebar-icon {
    display: none;
}

.nav-items {
    display: flex;
    width: 100%;
    padding: 2vh 8vh;
    justify-content: space-between;
}

.nav-items ul{
    padding: 2vh 0;
    list-style: none;
    display: flex;
    justify-content: right;
}

.nav-items ul a{
    font-size: 1.4rem;
    padding: 1vh 2vh;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

.nav-items ul a::before {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 9%;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items ul a:hover::before {
    transform: scaleX(1);
}

.nav-items ul a:hover {
    color: #ffffff;
}

.nav-items ul a span{
    margin-left: 1.5vh;
}

@media (max-width: 1920px)
{
    .logo-img{
        height: 90px;
        width: 160px;
    }
}

@media (max-width: 1012px) {
    .nav-items {
        display: flex;
        width: 100%;
        padding: 2vh 4vh;
        justify-content: space-between;
    }

    .nav-items ul a {
        font-size: 1.2rem;
    }
}

@media (max-width: 863px) {
    .nav-items {
        display: flex;
        width: 100%;
        padding: 2vh 2vh;
        justify-content: space-between;
    }

    .nav-items ul a {
        font-size: 1.1rem;
    }

    .logo-img{
        height: 80px;
        width: 150px;
    }
}

@media (max-width: 770px) {
    .nav-items {
        display: flex;
        width: 100%;
        padding: 2vh 1vh;
        justify-content: space-between;
    }

    .nav-items ul a {
        font-size: 1.2rem;
    }

    .logo-img{
        height: 80px;
        width: 150px;
    }
}

@media (max-width: 745px) {
    .logo-img.hidden{
        display: none;
    }

    .sidebar-content-active {
        display: flex;
        justify-content: space-between;
    }

    .logo-img.active{
        padding-top: 1vh;
    }

    .sidebar-icon {
        margin: auto 0;
        font-size: 2rem;
        display: block;
        cursor: pointer;
    }

    .nav-items ul a::before {
        background-color: #000000;
    }
  
    .ul-elements {
        color: black;
        z-index: 2;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fef7e5;
        width: 0px;
        height: 100%;
        transition: all 0.3s ease-in;
        overflow: hidden;
    }
  
    .ul-elements.active {
        width: 270px;
    }
  
    .ul-elements ul {
        display: flex;
        flex-direction: column;
    }
  
    .ul-elements.active ul li{
        margin-right: unset;
        margin-top: 22px;
    }

    .ul-elements.active ul li a{
        color: black;
    }

    .sidebar-icon.active {
        padding: 2vh 0 0 2vh;
    }
  }