body{
    background-color: rgb(172, 172, 172);
    /* overflow: hidden; */
    /* background-image: url("ws_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-size: cover; */
}
